* { padding: 0; margin: 0; }

body,
button,
input,
textarea {
 font-family: century gothic, Helvetica, sans-serif;
 font-size: 14px;
}
h1{
	margin-left: 25px;
	line-height:50px;
	color: #EAFAF1;
}
#wrapper {
 margin: 30px auto;
 width: 1000px;
}
#header {
 /*width: 1100px;*/
 padding: 10px;
 border: 1px solid #ccc;
 height: 50px;
 margin: 0px auto 5px auto;
 background: #148F77 ;
}
#leftcolumn {
 float: left;
 border: 1px solid #ccc;
 margin: 0px 0px 0px 0px;
 padding: 10px;
 height: 350px;
 width: 750px;
}
#rightcolumn {
 float: right;
 border: 1px solid #ccc;
 margin: 0px 0px 0px 0px;
 padding: 10px;
 height: 350px;
 width: 200px;
 display: inline;
 position: relative;
}
#boxes {
  margin: 0;
  padding: 0;
  margin: 15px auto;
}
  .leftbox{
   float: left;
   width: 33.33%;
}
  .middlebox{
    float: left;
    width: 33.33%;
}
  .rightbox{
    float: left;
    width: 33.33%;
}

#boxes p {
  font-weight: normal;
  margin: 5px;
  padding: 0 10px 20px 20px;
  text-decoration: none;
}

#footer {
  width: 993px;
  clear: both;
  border: 1px solid #ccc;
  background: #148F77;
  margin: 0px 0px 0px 0px;
  padding: 3px;
  text-align: center;
}
#footer a {
  color: white;
  text-decoration: none;
} 

/* Main-nav */
#main-nav ul {
  position: absolute;
  top: 5px;
  right: 15px;
  font-size: 18px;
  height: 50px;
  background: #148F77;
  /*border: 1px solid #ccc;
  border-width: 0 1px 1px;
  border-top: 4px solid blue;*/
  overflow: hidden;
}
#main-nav li {
  float: left;
  list-style: none;
  line-height:60px;
  /*border-left: 1px solid #ccc;*/
  font-family: 'century gothic', 'sans-serif';
  color: #FDFEFE;
}
#main-nav a {
  float: left;
  color: #FDFEFE;
  text-decoration: none;
  padding: 5px 10px;
  border-bottom: 1px solid #ccc;
}
#main-nav a:hover {
  background-color:#0B5345;
  margin: 2px;
}